<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>WebSocket JS 客户端</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
</head>
<body>
<script src="https://cdn.bootcdn.net/ajax/libs/require.js/2.3.6/require.js"></script>
<script>
    var jspb = require("protobuf.js")
    var goog = jspb;


    require.register("./protobuf.js", function (module, exports, require) {
        module.exports = function (x) {
            console.log("111111111111111111111:  " + x);
        };
    });
    var foo = require("./protobuf.js");

    // var jspb = require('google-protobuf');
    // var goog = jspb;
    // var proto = goog;
</script>
<script src="/js/MetaDataBase_pb.js"></script>
<script type="text/javascript">


    var wsUri = 'ws://192.168.1.166:18113/protocol';

    var socket;
    window.addEventListener("load", init, false);

    function init() {
        testWebSocket();
    }

    function testWebSocket() {
        socket = new WebSocket(wsUri);

        socket.onopen = function (evt) {
            onOpen(evt)
        };
        socket.onclose = function (evt) {
            onClose(evt)
        };
        socket.onmessage = function (evt) {
            onMessage(evt)
        };
        socket.onerror = function (evt) {
            onError(evt)
        };
    }

    function onClose(evt) {
        console.log("连接关闭")
    }

    function onError(evt) {
        console.log("连接异常", evt)
    }

    function onOpen(evt) {
        console.log("连接创建成功")
        doSend();
    }

    function onMessage(evt) {
        console.log("接收返回消息", evt)
        responseUserDecoder(evt.data)
    }

    function doSend() {
        var data = {code: 200, msg: '成功', otherData: '你好啊'};

        var reqData = {
            sys: '1000',
            module: '1000',
            direct: '1000',
            gToken: '1000',
            data: JSON.stringify(data),
        }
        requestUserEncoder(reqData);
    }

    /**
     * 发送的消息编码成 protobuf
     */
    function requestUserEncoder(data) {
        var message = new proto.protocol.MetaData(data);

        var buffer = message.serializeBinary();
        console.log(buffer)
        socket.send(buffer)
    }

    /**
     * 接收到服务器二进制流的消息进行解码
     */
    function responseUserDecoder(data) {
        protobuf.load(URL, function (err, root) {
            if (err) {
                throw err
            }
            var reader = new FileReader();
            reader.readAsArrayBuffer(data);
            reader.onload = function (e) {
                var buffer = new Uint8Array(reader.result);
                var message = proto.protocol.MetaData.deserializeBinary(buffer);
                console.log('接收到服务器返回的数据: ' + message.data)
            }
        });
    }
</script>
</body>
</html>
